div.circle {
    width: 200px;
    height: 200px;
    border-radius: 80%;
    box-shadow: 1px 1px 7px rgba(126, 126, 126, 0.64);
    background-color: #075496;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: Verdana, Arial, sans-serif;
}

.logo-scaled {
    transform: scale(1.3);
}

.mega-font {
    font-family: Arial, Verdana, Tahoma, sans-serif;
    color: #8f8e8e;
}

.mega-title {
    font-size: 8rem;
    font-weight: bolder;
    font-family: "Arial Black", Verdana, Tahoma, sans-serif;
    margin-bottom: 0 !important;
    letter-spacing: 2px;
}

.mega-title-md {
    font-size: 4rem;
    font-weight: bolder;
    font-family: "Arial Black", Verdana, Tahoma, sans-serif;
    line-height: 2.8rem;
}

.content-button {
    background-color: #757474;
    color: white;
    font-size: 1.4rem;
    font-family: Verdana, sans-serif;
    border-radius: 8px;
    padding: 1.2rem 4.2rem;

}

.mega-title-xs {
    font-size: 0.94rem;
}

.h-43 {
    height: 30% !important;
}
div.content-1, div.content-2
{
    min-width: 500px;
}
div.content-1 {
    z-index: 10;
}

div.content-2 {
    z-index: 20;
}

div.content-1, div.content-2 {
   /* position: absolute;*/
}
div.main-content {

}
